/*团购列表*/
.pb-50 {
	padding-bottom: 5rem;
}
.tab-product {
	position: fixed;
	top: 4.4rem;
	width: 100%;
	z-index: 5;
}
/*.tab-product .container {
	overflow-x: auto;
}*/
.tab-product ul {
	/*width: 2000px;*/
	height: 3.5rem;
	padding-right: 3.5rem;
}
.tab-product li {
	float: left;
	padding: 0 1.2rem;
}
.tab-product li a {
	color: #333;
	font-size: 1.3rem;
	line-height: 3.5rem;
}
.tab-product li.active a {
	color: #bf242a;
	/*font-size: 1.4rem;*/
}
.product-list {
	padding: 8.2rem 5px 0;
}
.product-list li {
	padding: 0 5px 10px;
}
.product-list li > div {
	display: block;
	background: #fff;
	padding-bottom: .2rem;
	border: 1px solid #e3e3e8;
	border-radius: .5rem;
	position: relative;
}
.product-list img {
	width: 100%;
	margin-bottom: .7rem;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
}
.product-list h6, .product-list p, .product-list .prod_price {
	padding-left: 9px;
	overflow: hidden;
}
.product-list h6 {
	line-height: 1.8rem;
	height: 1.8rem;
	color: #1a1a1a;
	font-size: 1.2rem;
	font-weight: normal;
	overflow: hidden;
}
.product-list p {
	height: 1.5rem;
	line-height: 1.5rem;
	color: #7d7d80;
	font-size: 1rem;
	overflow: hidden;
}
.product-list .prod_price {
	font-size: 1.2rem;
	line-height: 2.7rem;
	color: #bf242a;
}

/*20150914*/
.tab-product .product-catg {
	overflow-x: auto;
}
.ico-catg-down {
	position: absolute;
	top: 0;
	right: 0;
	width: 3.5rem;
	height: 3.4rem;
	background: #fff url("../img/ico_catg_down.png") 1.3rem 1.5rem no-repeat;
	background-size: .9rem .4rem;
}
.catg-modal {
	position: fixed;
	width: 100%;
	top: 4.4rem;
	bottom: 0;
	z-index: 10;
	font-size: 1.2rem;
}
.catg-dialog {
	width: 100%;
	max-width: 540px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}
.catg-modal-sort {
	background: #f5f5f5;
	font-size: 1.3rem;
}
.catg-modal-head {
	height: 3.5rem;
	line-height: 3.5rem;
	color: #7d7d80;
	border-bottom: 1px solid #e3e3e8;
	padding-left: 1.5rem;
	position: relative;
}
.ico-catg-up {
	position: absolute;
	top: 0;
	right: 0;
	width: 3.5rem;
	height: 3.5rem;
	background: url("../img/ico_catg_up.png") 1.3rem 1.5rem no-repeat;
	background-size: .9rem .4rem;
}
.catg-modal-sort ul {
	max-height: 20rem;
	overflow-y: scroll;
}
.catg-modal-sort li {
	float: left;
	width: 50%;
	background: #fff;
	border-bottom: 1px solid #e3e3e8;
	border-right: 1px solid #e3e3e8;
}
.catg-modal-sort li:nth-child(2n) {
	border-right: none;
}
.catg-modal-sort li a {
	display: block;
	color: #363636;
	padding-left: 1.5rem;
	height: 4rem;
	line-height: 4rem;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.ios .catg-modal {
	top: 6.4rem;
}

/*20151102*/
.sale-banner img {
	width: 100%;
	height: 17.7rem;
	background: #fff;
	position: relative;
	top: -1.1rem;
}
.sale-bg {
	height: 3rem;
	width: 100%;
	background: url("../img/sale_bg.png") 0 0 no-repeat;
	-webkit-background-size: 100% 3rem;
	background-size: 100% 3rem;
}
.sale-link {
	display: block;
}
.product-list .sale-title {
	font-size: 1.1rem;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.sale-price {
	display: block;
	padding-left: 9px;
	font-size: 1.4rem;
	line-height: 1.6rem;
	color: #bf242a;
	margin-bottom: .6rem;
}
.sub-price {
	display: block;
	width: 6.3rem;
	height: 1.9rem;
	border-radius: .9rem;
	line-height: 1.9rem;
	font-size: 1.2rem;
	color: #fff;
	text-align: center;
	background: #bf242a;
	float:right;
	margin-top:-2.3rem;
	margin-right: 9px;
}
/*20151224*/
.join-info{
	border-top:1px solid #eaeaea;
	color:#777777;
	font-size:1.1rem;
	line-height:2rem;
	height:2rem;
	margin:0 0.3rem;
	padding:0 0.3rem;
	}
.join-info .join-num{ float:left;}
.join-info .join-time{ float:right;}