@charset "utf-8";
/* CSS Document */
.login-body{ padding:1rem 0;}

.form-wrap{ background:#FFF;border-top:1px solid #e3e3e8; border-bottom:1px solid #e3e3e8; width:100%; padding-left:1.5rem}
.form-wrap li{ border-bottom:1px solid #e3e3e8; height:4.4rem; padding:1rem 0; line-height:2.2rem; font-size:1.3rem}
.form-wrap li:last-child{ border-bottom:0 none}

.form-mod .mod-tit{ width:9.8rem; float:left;}
.form-mod .mod-wrap{ position:relative}
.form-mod .input-wrap{ width:45%;}
.form-mod .getCode{ border-left:1px solid #e3e3e8; color:#bf242a; width:8rem; text-align:center; position:absolute; right:0px;}
.form-mod .getCode.disable{ color:#ccc}
.login-btn{ padding:0 1.5rem;}
.login-btn span { width:100%; height:4.4rem; line-height:4.4rem; text-align:center; font-size:1.6rem; color:#FFF; background:#bf242a; display:block; border-radius:0.4rem}
.login-btn span.disable{ background:#999}
.login-other{ padding:1.5rem 3.8rem; font-size:1.1rem}
.login-other a{ color:#000}
